@charset "UTF-8";
$backgrund:#fff; //灰色的背景
$backgrund-color:#096993; //主色调，蓝色
$color:#FFFFFF; //字体颜色
html,
body {
    background-color: $backgrund;
}


/*修改mui的内容*/
.mui-content{
    background-color: $backgrund;
}
.mui-bar-tab .mui-tab-item .mui-icon {
    top: 0;
}

.mui-bar-tab .mui-tab-item .mui-icon~.mui-tab-label {
    font-size: 14px;
}

.mui-icon-arrowleft:before {
    content: '\e582';
    color: #FFFFFF;
}

.mui-icon-back:before,
.mui-icon-left-nav:before {
    content: '\e471';
    color: #FFFFFF;
}

.shangbaolv {
    width: 50px;
    height: 50px;
}

.shangbaolv_text {
    margin-top: -10px;
}

.list1 {
    width: calc(100%-20px);
    margin: 0 10px;
}


/*头部样式*/

.mui-bar-nav {
    -webkit-box-shadow: 0 1px 6px $backgrund-color;
    box-shadow: 0 1px 6px $backgrund-color;
    background-color: $backgrund-color;
    #title {
        color: $color;
    }
}


/*底部样式*/

.mui-bar-tab {
    background-color: $backgrund;
}


/*统计样式*/

.mui-table-view-cell.mui-collapse.mui-active .mui-collapse-content,
.mui-table-view-cell.mui-collapse.mui-active .mui-table-view {
    display: block !important;
}
.text_js{
    font-size: 14px;
    position: relative;
    top: -15px;
    right: 0%;
}
.titleImg {
    width: 60px;
}

.context {
    height: 60px;
    line-height: 40px;
    font-size: 18px;
}

.quxian {
    color: $backgrund-color;
}

.table_head {
    .sbr {
        color: #6641E2;
    }
    .ysb {
        color: green;
    }
    .ssb {
        color: orange;
    }
    .sbl {
        color: red;
    }
}


/*人员管理*/

.reportTheRate {
    .boxflex:nth-last-child(1) {
        margin-bottom: 10px;
    }
    .boxflex {
        display: flex;
        .mui-card {
            display: inline-block;
            height: 150px;
            padding: 15px;
            flex: 1;
            .workmanage {
                text-align: center;
                img {
                    width: 60px;
                }
                dd {
                    margin: 20px 0 0 0;
                    text-align: center;
                    font-size: 17px;
                    color: #337AB7;
                }
            }
        }
        a:nth-child(1) {
            margin-right: 0px;
        }
        a {
            margin-bottom: 0px;
        }
    }
}

.one {
    background-color: aliceblue;
}

.two {
    background-color: white;
}

.name_ryab {
    display: inline-block;
    width: 150px;
}

.phome {
    display: inline-block;
    width: 200px;
    line-height: 25px;
    color: $backgrund-color;
    //  display: inline-block;
    //  margin-left: 50px;
}


/*片区专管员*/

.box-top {
    width: 90%;
    margin: 10px auto 0px auto;
    input {
        position: relative;
        width: 100%;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #337AB7;
        outline: none;
        font-size: 16px;
        background: url(../img/sx.png) no-repeat right;
        background-size: 20px;
        background-position-x: 96%;
    }
}

#content {
    .list-renyuan {
        line-height: 35px;
        .mui-table-view-cell {
            .text {
                color: #000000;
                margin-left: 5%;
                .phome {
                    color: $backgrund-color;
                    margin-left: 10%;
                }
            }
        }
    }
}


/*人员信息*/

#content {
    .text {
        margin-left: 5%;
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 35px;
    }
    .pohot {
        margin-left: 5%;
        img {
            width: 122px;
            height: 176px;
        }
    }
}